.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.display {
    font-size: 100px;
    margin: 10px;
    text-align: center;
}

button {
    text-align: center;
    width: 30px;
    height: 20px;
}