/* import for roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.row1, .row2, .row3, .row4, .row5 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.display {
    font-size: 100px;
    margin: 10px;
    text-align: center;
    font-family: 'Roboto';
}

button {
    text-align: center;
    width: 70px;
    height: 70px;
    margin: 1px;
    border-radius: 50%;
    font-size: 100%;
    border: 1px solid aliceblue;
    background-color: aliceblue;
}

button:hover {
    background-color: aqua;
}